@charset "utf-8";

/* Import Google Fonts */
/* Noto Sans JP + SC, Noto Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');
/* Import my font-faces */
@import url("myStyle-font-face.css");

:root {
    --red-1: #f00;
    --red-1-rgb: 255, 0, 0;
    --blue-1: #0040b6;
    --blue-1-rgb: 0, 64, 182;
    --blue-2: #1a3658;
    --blue-2-rgb: 26, 54, 88;
    --lila-1: #3d1e57;
    --lila-1-rgb: 50, 37, 73;
    --black-1: var(--bs-body-color);
    --weiss-1: var(--bs-light);
    --gray-1: var(--bs-secondary);

    --bs-link-color: var(--blue-1);
    --bs-link-color-rgb: var(--blue-1-rgb);
    --bs-heading-color: var(--lila-1);
    --bs-heading-color-rgb: var(--lila-1-rgb);
    --bs-danger: var(--red-1);
    --bs-danger-rgb: var(--red-1-rgb);

    --font-serif: 'CharisSIL', 'Times New Roman', 'Noto Serif JP', 'Source Han Serif', 'Noto Serif CJK JP', 'Yu Mincho', 'Hiragino Serif', 'Hiragino Mincho ProN', serif;
    --font-serif-latn: 'CharisSIL', 'Brill', 'Times New Roman', serif;
    --font-ipa: 'CharisSIL', 'Times New Roman', serif;
    --font-sans: 'InterVar', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Source Han Sans', 'Noto Sans CJK JP', 'Yu Gothic UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', sans-serif;
    --font-sans-latn: 'InterVar', 'Arial', 'Helvetica Neue', sans-serif;
    --bs-font-sans-serif: var(--font-sans);

    --transition-1: 150ms ease-in-out;
    --transition-2: 70ms ease-in-out;
    --transition-3: 250ms ease-in-out;

    --size-h1: calc(1.375rem + .9vw);
    --size-h2: calc(1.325rem + .5vw);
    --size-h3: calc(1.3rem + .2vw);
    --size-h4: 1.25rem;
    --size-h5: 1.125rem;
    --size-h6: 1rem;
}

body {
    background-color: var(--weiss-1);
    font-optical-sizing: auto;

    > .container,
    > .container-fluid {
        min-height: 100vh;
        display: flow-root;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}

h6 {
    font-size: var(--size-h6);
}

.card {
    --bs-card-title-color: var(--lila-1);
}

a, .nav-link {
    text-decoration: none;
    transition: color var(--transition-2);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: rgba(var(--bs-link-color-rgb), .7);
        }
    }
    

    &.ext-link::after {
        content: url('/assets/svg/box-arrow-up-right.svg');
        display: inline-block;
        margin-right: 0.1rem;
        width: 0.75rem;
        height: auto;
    }
    
}

.section-title {
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}

.article-font {
    font-family: var(--font-serif-latn);
}

.article-font-jp {
    font-family: 'Zen Antique', serif;
}

.l-serif {
    font-family: var(--font-serif-latn);
}

.ipa {
    font-family: var(--font-ipa);
    font-size: 1.0em;
}

table > * > * > th {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

table > * > * > td {
    text-align: center;

    &.bikou {
        text-align: left;
    }
    
}

#page-top-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: opacity var(--transition-3), visibility var(--transition-3);
    opacity: 0;
    visibility: hidden;

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }

    button {
        display: block;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 14px;
        transition: background-color var(--transition-1), color var(--transition-1);
        color: var(--gray-1);

        #page-top-arrow {
            padding: 8px;
            border-top: solid 2px;
            border-right: solid 2px;
            transform: translateY(4px) rotate(-45deg);
            border-color: inherit;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--gray-1);
                color: var(--bs-light);
            }
        }
    }
}

.bg-deep-blue {
    background-color: var(--bs-heading-color);
}

.text-deep-blue {
    color: rgb(var(--my-link-color-rgb));
}

hr {
    margin: 2.0rem 0;
    border: none;
    text-align: center;
    opacity: .6;

    &::after {
        content: "〜〜〜";
    }
}

.noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 768px) {
    .sidebar {
        overflow-y: auto;
        height: 100vh;
        scrollbar-width: thin;
        scrollbar-color: #bbbbbb transparent;
    }
}

.noto-sans-sc {
    font-family: 'Noto Sans SC', sans-serif;
}

.l-sans {
    font-family: var(--font-sans-latn);
}

button.btn-audio-controls {
    transition: var(--transition-1);
    border: none;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    background-color: transparent;
    color: rgba(var(--bs-heading-color-rgb), 1);
    border-radius: 0.5rem;

    &[data-active="true"] {
        background-color: rgba(var(--bs-heading-color-rgb), 1);
        color: var(--weiss-1);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgba(var(--bs-heading-color-rgb), 1);
            color: var(--weiss-1);
        }
    }

    > svg {
        display: inline-block;
        width: 1.75rem;
        height: auto;
        fill: currentColor;
        vertical-align: middle;
    }
}




