@charset "UTF-8";

/* import Noto Sans/Serif JP, Noto Serif Tibetan */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+Tibetan:wght@100..900&display=swap');
/* Import my font-faces */
@import url('myStyle-font-face.css');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --mycolor-white: #f8f9fa;
    --mycolor-darkblue: #1d3641;
    --mycolor-blue-rgb: 29, 58, 155;
    --mycolor-gray: #cfcfcf;
    --mycolor-gray2: rgba(0, 0, 0, 0.05);
    --mycolor-gray3: #747474;
    --my-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --my-shadow2: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.075);
    --sans-font: 'InterVar', 'Arial', 'Noto Serif Tibetan', 'Noto Sans JP', sans-serif;
    --serif-font: 'CharisSIL', 'Brill', 'Times New Roman', 'Noto Serif Tibetan', 'Noto Serif JP', serif;
    --size-h1: calc(1.375rem + .9vw);
    --size-h2: calc(1.325rem + .5vw);
    --size-h3: calc(1.3rem + .2vw);
    --size-h4: 1.25rem;
    --size-h5: 1.125rem;
    --size-h6: 1rem;
    --my-transition: 80ms ease-in-out;
    --my-transition2: 120ms ease-in-out;
    --my-transition3: 250ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--mycolor-white);
    font-family: var(--sans-font);
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

#_container,
#_container-fluid {
    display: flow-root;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 0.75rem;
}

#_container {
    box-shadow: var(--my-shadow2);

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans-font);
    color: var(--mycolor-darkblue);
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p, h2, h3, h4, h5, h6, ul, ol, table {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

p, h2, h3, h4, h5, h6, ul, ol {
    line-height: 1.8;
}

h1#title {
    font-size: var(--size-h1);
    font-weight: 500;
    text-align: center;
    text-wrap: nowrap;
    margin: 1.25rem auto;
    width: max-content;
    padding: 1.25rem 4.0rem;
    box-shadow: var(--my-shadow2);
    border-radius: 25px;
    line-height: 1.75;
}

h2 {
    font-size: var(--size-h2);
    border-bottom: double 3px var(--mycolor-darkblue);
    padding-left: 0.375rem;
}

h3 {
    font-size: var(--size-h3);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h4, h5, h6 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}

h6 {
    font-size: var(--size-h6);
}

p, ul, ol {
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}

li > ul, li > ol {
    margin-bottom: 0.25rem;
}

ul {
    padding-left: 1.5rem;
    list-style-type: "\25b8   ";

    &.unstyled {
        list-style: none;
        padding-left: 0;
    }
}

hr {
    margin: 4.0rem auto;
    border: none;
    border-top: double 3px rgba(0, 0, 0, 0.4);
    width: 60px;
}

a {
    text-decoration: none;
    transition: color var(--my-transition);
    color: rgb(var(--mycolor-blue-rgb));

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: rgba(var(--mycolor-blue-rgb), 0.7);
        }
    }

    &.link-disabled {
        color: revert;
        pointer-events: none;
    }

    &.ext-link::after {
        content: url("../svg/box-arrow-up-right.svg");
        display: inline-block;
        margin-right: 0.1rem;
        width: 0.75rem;
        height: auto;
    }
}

table {
    border-collapse: collapse;
    background-color: white;
    box-shadow: none;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.5;

    > * > * > th,
    > * > * > td {
        border: solid 1px;
        border-color: var(--mycolor-gray);
        vertical-align: text-bottom;
        text-wrap: nowrap;
        padding: 0 1.25rem;
    }

    > * > * > td {
        text-align: left;
        
    }

    > * > * > th {
        font-weight: 500;
        text-align: center;
        
    }

    > * > tr:nth-child(even) {
        background-color: var(--mycolor-gray2);
    }

    &.text-centre-td > * > * > td,
    &.text-centre-th > * > * > th,
    &.text-centre-tdth > * > * > td,
    &.text-centre-tdth > * > * > th {
        text-align: center;
    }

    &.text-right-td > * > * > td,
    &.text-right-th > * > * > th,
    &.text-right-tdth > * > * > td,
    &.text-right-tdth > * > * > th {
        text-align: right;
    }
}

img {
    display: block;
    margin: 2.0rem auto;
    width: max-content;
    max-width: 100%;
    height: auto;
}

figure > img {
    margin: 0;
}

figure > figcaption {
    text-align: center;
}

.font-sans {
    font-family: var(--sans-font) !important;
}

.font-serif {
    font-family: var(--serif-font) !important;
}

.text-centre {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

#page-top-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: var(--my-transition3);
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    button {
        display: block;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 12px;
        transition: var(--my-transition2);

        #page-top-arrow {
            padding: 8px;
            border-top: solid 2px var(--mycolor-gray3);
            border-right: solid 2px var(--mycolor-gray3);
            transform: translateY(4px) rotate(-45deg);
            transition: var(--my-transition2);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--mycolor-gray3);
                color: var(--mycolor-white);

                #page-top-arrow {
                    border-color: var(--mycolor-white);
                }
            }
        }
    }
}

