@charset "utf-8";

/* Import Inter + Noto Sans/Serif JP */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

@font-face {
    font-family: myTibetan;
    font-style: normal;
    src: url("../font/NotoSerifTibetan/NotoSerifTibetan-VariableFont_wght.ttf");
}

@font-face {
    font-family: myInter;
    font-style: normal;
    src: url("../font/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: myInter;
    font-style: italic;
    src: url("../font/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --mycolor-white: #f8f9fa;
    --mycolor-darkgray: #1d3641;
    --mycolor-blue-rgb: 29, 58, 155;
    --mycolor-gray: #cfcfcf;
    --mycolor-gray2: rgba(0, 0, 0, 0.05);
    --mycolor-gray3: #747474;
    --my-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --my-shadow2: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.075);
    --sans-font: myInter, Arial, myTibetan, 'Noto Sans JP', sans-serif;
    --serif-font: 'Brill', 'Times New Roman', myTibetan, 'Noto Serif JP', serif;
    --size-h1: calc(1.3rem + 1.2vw);
    --size-h2: calc(1.275rem + 0.3vw);
    --size-h3: 1.25rem;
    --size-h4: 1rem;
    --size-h5: 0.875rem;
    --size-h6: 0.75rem;
    --my-transition: 80ms ease-in-out;
    --my-transition2: 120ms ease-in-out;
    
}

html {
    font-size: 1.0em;
    scroll-behavior: smooth;
}

body {
    background-color: var(--mycolor-white);
    font-family: var(--sans-font);
    margin: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1px 0.75rem;
    box-shadow: var(--my-shadow2);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans-font);
    font-weight: 400;
    color: var(--mycolor-darkgray);
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
}


h1 {
    font-size: var(--size-h1);

    &.article {
        text-align: center;
        text-wrap: nowrap;
        margin: 1.25rem auto;
        max-width: 85%;
        padding-top: 0.2rem;
        padding-bottom: 0.55rem;
        box-shadow: var(--my-shadow2);
        border-radius: 10px;
    }

    @media (min-width: 768px) {
        &.article {
            max-width: 60%;
        }
    }    
}

h2 {
    font-size: var(--size-h2);
    border-bottom: double 3px var(--mycolor-darkgray);
    padding-left: 0.375rem;
    line-height: 1.4;
}

h3 {
    font-size: var(--size-h3);
    margin-left: 0.5rem;
}

h4, h5, h6 {
    margin-left: 0.75rem;
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}

h6 {
    font-size: var(--size-h6);
}

p, ul {
    margin-top: 0;
    margin-bottom: 0.75rem;
    
}

hr {
    margin: 2rem 0;
    border: none;
    text-align: center;
    color: #00000091;

    &::after {
        content: '〜〜〜';
    }
}

p {
    margin-left: 1.0rem;
}

a {
    text-decoration: none;
    transition: var(--my-transition);
    color: rgb(var(--mycolor-blue-rgb));

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: rgba(var(--mycolor-blue-rgb), 0.7);
        }
    }

    &.link-disabled {
        color: initial;
        pointer-events: none;
    }

    
}

.table-container {
    overflow-x: auto;
    margin-top: 1.0rem;
    margin-bottom: 0.25rem;
    padding: 0 1.5rem;
}

table {
    border-collapse: collapse;
    background-color: white;
    box-shadow: var(--my-shadow);
    margin-bottom: 0.75rem;

    &.table-center {
        margin-left: auto;
        margin-right: auto;
    }

    > * > * > th,
    > * > * > td {
        border: solid 1px;
        border-color: var(--mycolor-gray);
        padding: 0.3em 0.6em;
        vertical-align: middle;
        text-wrap: nowrap;
    }

    > * > * > td {
        text-align: left;
    }

    > * > * > th {
        font-weight: 500;
        text-align: center;
    }

    > * > tr:nth-child(even) {
        background-color: var(--mycolor-gray2);
    }

    &.text-centre > * > * > td,
    &.text-centre > * > * > th {
        text-align: center;
    }

    &.text-right > * > * > td,
    &.text-right > * > * > th {
        text-align: right;
    }
}

.font-sans {
    font-family: var(--sans-font);
}

.font-serif {
    font-family: var(--serif-font);
}

.text-centre {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bi-box-arrow-up-right {
    display: inline;
    fill: currentColor;
    vertical-align: middle;
    height: 0.8rem;
}

#page-top-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: var(--my-transition2);
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    button {
        display: block;
        text-align: center;
        background-color: transparent;
        border: solid 1px var(--mycolor-gray3);
        color: var(--mycolor-gray3);
        border-radius: 50%;
        padding: 9px;
        transition: var(--my-transition2);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--mycolor-gray3);
                color: var(--mycolor-white);
            }
        }

        
    }

    .bi-chevron-up {
        display: inline;
        fill: currentColor;
        vertical-align: middle;
        height: 27px;
    }
}

