@charset "utf-8";

/* Import Google Fonts */
/* Noto Sans JP + SC, Noto Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');
/* Import my font-faces */
@import url("myStyle-font-face.css");

:root {
    --my-heading-color-rgb: 26, 54, 88;
    --my-link-color-rgb: 0, 64, 182;
    --color-blue: #0040b6;
    --my-dark-color: var(--bs-body-color);
    --my-light-color: var(--bs-light);
    --my-gray: var(--bs-secondary);
    --serif-font: 'CharisSIL', 'Times New Roman', 'Noto Serif JP', 'Source Han Serif', 'Noto Serif CJK JP', 'Yu Mincho', 'Hiragino Serif', 'Hiragino Mincho ProN', serif;
    --serif-font-la: 'CharisSIL', 'Brill', 'Times New Roman', serif;
    --ipa-font: 'CharisSIL', 'Times New Roman', serif;
    --sans-font: 'InterVar', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Source Han Sans', 'Noto Sans CJK JP', 'Yu Gothic UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', sans-serif;
    --sans-font-la: 'InterVar', 'Arial', 'Helvetica Neue', sans-serif;
    --my-transition: 150ms ease-in-out;
    --my-transition2: 70ms ease-in-out;
    --my-transition3: 250ms ease-in-out;
    --size-h1: calc(1.375rem + .9vw);
    --size-h2: calc(1.325rem + .5vw);
    --size-h3: calc(1.3rem + .2vw);
    --size-h4: 1.25rem;
    --size-h5: 1.125rem;
    --size-h6: 1rem;
}

body {
    background-color: var(--my-light-color);
    font-optical-sizing: auto;
    font-family: var(--sans-font);

    > .container,
    > .container-fluid {
        min-height: 100vh;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(var(--my-heading-color-rgb));
    font-family: var(--serif-font);
}



h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}

h6 {
    font-size: var(--size-h6);
}

.card > * > .card-title {
    color: rgba(var(--my-heading-color-rgb))!important;
}

a {
    text-decoration: none;
    transition: var(--my-transition2);

    &.link-deep-blue {
        color: rgb(var(--my-link-color-rgb))!important;
    
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: rgb(var(--my-link-color-rgb), 0.7)!important;
            }
        }
    }

    &.ext-link::after {
        content: url('/assets/svg/box-arrow-up-right.svg');
        display: inline-block;
        margin-right: 0.1rem;
        width: 0.75rem;
        height: auto;
    }
    
}

.section-title {
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}

.article-font {
    font-family: var(--serif-font-la);
}

.article-font-jp {
    font-family: 'Zen Antique', serif;
}

.l-serif {
    font-family: var(--serif-font-la);
}

.ipa {
    font-family: var(--ipa-font);
    font-size: 1.0em;
}

table > * > * > th {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

table > * > * > td {
    text-align: center;

    &.bikou {
        text-align: left;
    }
    
}

#page-top-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: var(--my-transition3);
    opacity: 0;
    visibility: hidden;

    &[data-visible="true"] {
        opacity: 1;
        visibility: visible;
    }

    button {
        display: block;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 12px;
        transition: var(--my-transition);

        #page-top-arrow {
            padding: 8px;
            border-top: solid 2px var(--my-gray);
            border-right: solid 2px var(--my-gray);
            transform: translateY(4px) rotate(-45deg);
            transition: var(--my-transition);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--my-gray);
                color: var(--bs-light);

                #page-top-arrow {
                    border-color: var(--bs-light);
                }
            }
        }
    }
}

.bg-deep-blue {
    background-color: rgb(var(--my-heading-color-rgb))!important;
}

.text-deep-blue {
    color: rgb(var(--my-link-color-rgb))!important;
}

hr {
    margin: 2.0rem 0;
    border: none;
    text-align: center;
    opacity: .6;

    &::after {
        content: "〜〜〜";
    }
}

.noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width: 768px) {
    .sidebar {
        overflow-y: auto;
        height: 100vh;
        scrollbar-width: thin;
        scrollbar-color: #bbbbbb transparent;
    }
}

.noto-sans-sc {
    font-family: 'Noto Sans SC', sans-serif;
}

.l-sans {
    font-family: 'InterVar', 'Arial', 'Helvetica Neue', sans-serif;
}

button.btn-audio-controls {
    transition: var(--my-transition);
    border: none;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    background-color: transparent;
    color: rgba(var(--my-heading-color-rgb), 1);
    border-radius: 0.5rem;

    &[data-active="true"] {
        background-color: rgba(var(--my-heading-color-rgb), 1);
        color: var(--my-light-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgba(var(--my-heading-color-rgb), 1);
            color: var(--my-light-color);
        }
    }

    > svg {
        display: inline-block;
        width: 1.75rem;
        height: auto;
        fill: currentColor;
        vertical-align: middle;
    }
}




