@font-face {
    font-family: 'InterVar';
    font-style: normal;
    src: local("Inter"),
        url("/assets/font/Inter/Inter-Variable.woff2") format("woff2");
}

@font-face {
    font-family: 'InterVar';
    font-style: italic;
    src: local("Inter Italic"),
        url("/assets/font/Inter/Inter-Italic-Variable.woff2") format("woff2");
}

@font-face {
    font-family: 'CharisSIL';
    font-style: normal;
    font-weight: 100 500;
    src: local("Charis SIL"),
        url("/assets/font/CharisSIL/CharisSIL-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'CharisSIL';
    font-style: italic;
    font-weight: 100 500;
    src: local("Charis SIL Italic"),
        url("/assets/font/CharisSIL/CharisSIL-Italic.woff2") format("woff2");
}

@font-face {
    font-family: 'CharisSIL';
    font-style: normal;
    font-weight: 600 900;
    src: local("Charis SIL Bold"),
        url("/assets/font/CharisSIL/CharisSIL-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'CharisSIL';
    font-style: italic;
    font-weight: 600 900;
    src: local("Charis SIL Bold Italic"),
        url("/assets/font/CharisSIL/CharisSIL-BoldItalic.woff2") format("woff2");
}


