@charset "utf-8";

/* Import Google Fonts: Noto Sans/Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');
/* Import my font-faces */
@import url('myStyle-font-face.css');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.4;
    overflow-wrap: anywhere;
}

:root {
    scroll-behavior: smooth;
    --murasaki-1: #f8efff;
    --murasaki-2: #322549;
    --xiro-1: #f8f9fa;
    --kuro-hantoomee-1: #00000077;
    --ao-1: #124ae6;
    --ao-2: #d7e1ff;
    --hai-1: #868686;
    --iro-kontenaa: var(--xiro-1);
    --iro-haikee: var(--murasaki-1);
    --iro-midaxi: var(--murasaki-2);
    --iro-rinku: var(--ao-1);
    --iro-rinku-hobaa: var(--ao-2);
    --iro-kage: var(--kuro-hantoomee-1);
    --iro-fqidori: var(--kuro-hantoomee-1);
    --iro-yajiruxi-ue: var(--hai-1);
    --fonto-san: 'InterVar', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Source Han Sans', 'Noto Sans CJK JP', 'Yu Gothic UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', sans-serif;
    --fonto-serifu: 'CharisSIL', 'Times New Roman', 'Noto Serif JP', 'Source Han Serif', 'Noto Serif CJK JP', 'Yu Mincho', 'Hiragino Serif', 'Hiragino Mincho ProN', serif;
    --mizo-kontenaa: .75rem;
    --ookysa-h1: calc(1.375rem + .9vw);
    --ookysa-h2: calc(1.325rem + .5vw);
    --ookysa-h3: calc(1.3rem + .2vw);
    --ookysa-h4: 1.25rem;
    --ookysa-h5: 1.125rem;
    --ookysa-h6: 1rem;
    --henka-btn-hobaa: 100ms ease-in-out;
    --henka-btn-xinindo: 250ms ease-in-out;
    --henka-rinku: 60ms ease-in-out;
}

body {
    font-family: var(--fonto-san);
    font-optical-sizing: auto;
    background-color: var(--murasaki-1);
}

img {
    display: block;
}

#_container {
    display: flow-root;
    background-color: var(--iro-kontenaa);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--mizo-kontenaa);
    min-height: 100vh;
    box-shadow: 0 0 5px var(--iro-kage);

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

.font-serif {
    font-family: var(--fonto-serifu);
}

p, ul, ol, dl, pre, blockquote, div {
    margin-block-end: 1rem;
}

main {
    > p, ul, ol, dl, pre, blockquote {
        margin-inline-start: 1rem;
    }
    > h3 {
        margin-inline-start: .25rem;
    }
    > h4 {
        margin-inline-start: .375rem;
    }
    > h5 {
        margin-inline-start: .5rem;
    }
    > h6 {
        margin-inline-start: .75rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-block-end: .8rem;
    font-weight: 500;
    color: var(--iro-midaxi);
    font-family: var(--fonto-serifu);
}

h1 {
    font-size: var(--ookysa-h1);
}

h2 {
    font-size: var(--ookysa-h2);
}

h3 {
    font-size: var(--ookysa-h3);
}

h4 {
    font-size: var(--ookysa-h4);
}

h5 {
    font-size: var(--ookysa-h5);
}

h6 {
    font-size: var(--ookysa-h6);
}

a {
    text-decoration: none;
    color: var(--iro-rinku);
    transition: opacity var(--henka-rinku);

    &.ext-link::after {
        content: url('/assets/svg/box-arrow-up-right.svg');
        display: inline-block;
        width: .8rem;
        height: auto;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: .5;
        }
    }
}

h1#title {
    text-align: center;
    margin: 2rem auto;
    width: max-content;
    max-width: 100%;
    text-wrap: balance;
    overflow-wrap: anywhere;
    padding: 0 .5rem;
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}


button {
    display: block;
    margin-inline: auto;
    width: max-content;
    max-width: 100%;
    background: transparent;
    color: var(--murasaki-2);
    border: solid 1px var(--murasaki-2);
    padding: .1rem .5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-clip: border-box;
    transition: color var(--henka-btn-hobaa), background-color var(--henka-btn-hobaa);
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--murasaki-2);
            color: var(--xiro-1);
        }

        &:active {
            opacity: 0.8;
        }
    }

}



ul, ol, dl {
    padding-inline-start: 1.2rem;
}

li {

    > p, ul, ol, dl, pre, blockquote, div {
        margin: 0;
    }

    > p:not(:first-child) {
        margin-inline-start: .5rem;
    }

    > p:last-child {
        margin-block-end: .375rem;
    }

    > ul, ol, dl {
        margin-block-end: .2rem;
    }
}

.tool-container {
    margin: 2rem auto;
    width: 100%;
    max-width: 40rem;

    h3.t-title, p.t-summery {
        text-align: center;
        margin-inline: 0;
    }

    button.t-btn {
        margin: .5rem auto;
    }

    input.t-input, textarea.t-result, input.t-input-1 {
        border: solid 1px var(--iro-fqidori);
        border-radius: 5px;
        padding-inline: .25rem;
    }

    input.t-input, textarea.t-result {
        width: 100%;
    }

    input.t-input-1 {
        max-width: 100%;
    }
    
    label.t-result-label {
        display: block;
    }
    
    textarea.t-result {
        resize: none;
        height: 15rem;
    }

    .t-inputs {
        display: flex;
        justify-content: space-around;

        > * {
            min-width: 0;
            margin: 0;
        }
    }

    .t-result-labels {
        display: flex;
        justify-content: space-between;
        margin: 0;

        p.t-progress {
            margin: 0;
            visibility: hidden;

            &[data-visible="true"] {
                visibility: visible;
            }
        }

    }
}

hr {
    margin: 2.5rem 0;
    text-align: center;

    &::after {
        content: "〜〜〜";
        color: var(--hai-1);
    }
}

#page-top-button {
    margin: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    transition: color var(--henka-btn-hobaa),
        background-color var(--henka-btn-hobaa),
        opacity var(--henka-btn-xinindo),
        visibility var(--henka-btn-xinindo);
    visibility: hidden;
    opacity: 0;

    &[data-visible="true"] {
        visibility: visible;
        opacity: 1;
    }

    &:active {
        opacity: 1;
    }

    #arrow-up {
        margin: 0;
        padding: 8px;
        border-right: solid 2px;
        border-top: solid 2px;
        transform: rotate(-45deg) translate(-3px, 3px);
    }
}

.txt-centre {
    text-align: center;
}

.d-block {
    display: block;
}

.centred {
    display: block;
    margin-inline: auto;
    width: max-content;
    max-width: 100%;
}

.v-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#tess-logo object { 
    display: block;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
}

