/* Import Google Fonts */
/* Noto Sans JP + SC, Noto Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');

@font-face {
    font-family: tktbInter;
    font-style: normal;
    src: url("../font/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: tktbInter;
    font-style: italic;
    src: url("../font/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
    --my-heading-color-rgb: 26, 54, 88;
    --my-link-color-rgb: 0, 71, 179;
    --serif-font: 'Times New Roman', 'Noto Serif JP', serif;
    --sans-font: 'tktbInter', 'Arial', 'Helvetica Neue', 'Noto Sans JP', sans-serif;
}

html {
    font-size: 1.0em;
}

body {
    background-color: var(--bs-light);
    font-family: var(--sans-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif-font);
    color: rgba(var(--my-heading-color-rgb));
}

a {
    text-decoration: none;
    transition: color 60ms ease-in;

    &.link-deep-blue {
        color: rgb(var(--my-link-color-rgb))!important;
    
        &:hover {
            color: rgb(var(--my-link-color-rgb), 0.7)!important;
        }
    }

    .bi-box-arrow-up-right {
        display: inline;
        vertical-align: middle;
        fill: currentColor;
        height: 0.8rem;
    }
}

.section-title {
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}

.article-font, 
.article-font-jp {
    font-size: calc(1.7rem + 1.4vw);
}

.article-font {
    font-family: 'Times New Roman', serif;
}

.article-font-jp {
    font-family: 'Zen Antique', serif;
}

.ipa,
.l-serif {
    font-family: 'Times New Roman', serif;
}

table > * > * > th {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

table > * > * > td {
    text-align: center;

    &.bikou {
        text-align: left;
    }
    
}

.page-top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.bg-deep-blue {
    background-color: rgb(var(--my-heading-color-rgb))!important;
}

.text-deep-blue {
    color: rgb(var(--my-link-color-rgb))!important;
}

.bi-chevron-up {
    display: inline;
    fill: currentColor;
    vertical-align: text-bottom;
    height: 27px;
}

.noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width:768px) {
    .sidebar {
        overflow-y: auto;
        height: 90vh;
    }
}

.noto-sans-sc {
    font-family: 'Noto Sans SC', sans-serif;
}

.l-sans {
    font-family: 'tktbInter', 'Arial', 'Helvetica Neue', sans-serif;
}




