@charset "utf-8";

/* Import Google Fonts */
/* Noto Sans JP + SC, Noto Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');

@font-face {
    font-family: myInter;
    font-style: normal;
    src: url("../font/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
    font-family: myInter;
    font-style: italic;
    src: url("../font/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
    --my-heading-color-rgb: 26, 54, 88;
    --my-link-color-rgb: 0, 71, 179;
    --my-dark-color: var(--bs-body-color);
    --my-light-color: var(--bs-light);
    --serif-font: 'Times New Roman', 'Noto Serif JP', serif;
    --serif-font-la: 'Times New Roman', serif;
    --ipa-font: 'Brill', 'Times New Roman', serif;
    --sans-font: myInter, 'Arial', 'Helvetica Neue', 'Noto Sans JP', sans-serif;
    --sans-font-la: myInter, 'Arial', 'Helvetica Neue', sans-serif;
    --my-transition: 150ms ease-in-out;
    --my-transition2: 70ms ease-in-out;
}

html {
    font-size: 1.0em;
}

body {
    background-color: var(--my-light-color);
    font-family: var(--sans-font);

    > .container,
    > .container-fluid {
        min-height: 100vh;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif-font);
    color: rgba(var(--my-heading-color-rgb));
}

.card > * > .card-title {
    color: rgba(var(--my-heading-color-rgb))!important;
}

a {
    text-decoration: none;
    transition: var(--my-transition2);

    &.link-deep-blue {
        color: rgb(var(--my-link-color-rgb))!important;
    
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: rgb(var(--my-link-color-rgb), 0.7)!important;
            }
        }
    }

    .bi-box-arrow-up-right {
        display: inline;
        vertical-align: middle;
        fill: currentColor;
        height: 0.8rem;
    }
}

.section-title {
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}

.article-font, 
.article-font-jp {
    font-size: calc(1.7rem + 1.4vw);
}

.article-font {
    font-family: var(--serif-font-la);
}

.article-font-jp {
    font-family: 'Zen Antique', serif;
}

.l-serif {
    font-family: var(--serif-font-la);
}

.ipa {
    font-family: var(--ipa-font);
    font-size: 1.1em;
}

table > * > * > th {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

table > * > * > td {
    text-align: center;

    &.bikou {
        text-align: left;
    }
    
}

#page-top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: var(--my-transition);
    visibility: hidden;
    opacity: 0;
    

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    button.btn {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 10px;
    }

    .bi-chevron-up {
        display: inline;
        fill: currentColor;
        vertical-align: middle;
        height: 25px;
    }
}

.bg-deep-blue {
    background-color: rgb(var(--my-heading-color-rgb))!important;
}

.text-deep-blue {
    color: rgb(var(--my-link-color-rgb))!important;
}



.noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width:768px) {
    .sidebar {
        overflow-y: auto;
        height: 90vh;
    }
}

.noto-sans-sc {
    font-family: 'Noto Sans SC', sans-serif;
}

.l-sans {
    font-family: myInter, 'Arial', 'Helvetica Neue', sans-serif;
}



button.btn-audio-controls {
    transition: var(--my-transition);
    border: none;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    background-color: transparent;
    color: rgba(var(--my-heading-color-rgb), 1);
    border-radius: 0.5rem;

    &.active {
        background-color: rgba(var(--my-heading-color-rgb), 1);
        color: var(--my-light-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: rgba(var(--my-heading-color-rgb), 1);
            color: var(--my-light-color);
        }
    }

    > svg {
        display: inline;
        height: 1.75rem;
        fill: currentColor;
        vertical-align: middle;
    }
}




