@charset "utf-8";

/* Import Google Fonts: Noto Sans/Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');
/* Import my font-faces */
@import url('myStyle-font-face.css');

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --purple2: #322549;
    --purple1: #efd8ff;
    --white1: #f8f9fa;
    --black-tl1: #00000077;
    --blue1: #0040b6;
    --gray1: #868686;
    --color-bg: var(--white1);
    --color-side: var(--purple1);
    --color-highlight: var(--purple2);
    --color-link: var(--blue1);
    --color-shadow: var(--black-tl1);
    --color-border-1: var(--black-tl1);
    --color-arrow: var(--gray1);
    --font-sans: 'InterVar', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'Source Han Sans', 'Noto Sans CJK JP', 'Yu Gothic UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', sans-serif;
    --font-serif: 'CharisSIL', 'Times New Roman', 'Noto Serif JP', 'Source Han Serif', 'Noto Serif CJK JP', 'Yu Mincho', 'Hiragino Serif', 'Hiragino Mincho ProN', serif;
    --gutter-container: .75rem;
    --size-h1: calc(1.375rem + .9vw);
    --size-h2: calc(1.325rem + .5vw);
    --size-h3: calc(1.3rem + .2vw);
    --size-h4: 1.25rem;
    --size-h5: 1.125rem;
    --size-h6: 1rem;
    --transition-btn-hover: 100ms ease-in-out;
    --transition-btn-visibility: 250ms ease-in-out;
    --transition-link: 60ms ease-in-out;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.4;
}

body {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    background-color: var(--purple1);
}

img {
    display: block;
}

#_container {
    display: flow-root;
    background-color: var(--color-bg);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--gutter-container);
    min-height: 100vh;
    box-shadow: 0 0 5px var(--color-shadow);

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

.font-serif:not(#DUMMY) {
    font-family: var(--font-serif);
}

div {
    margin-block-end: 1.2rem;
}

p, ul, ol, dl, pre {
    margin-inline-start: 1rem;
    margin-block-end: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-end: .8rem;
    font-weight: 500;
    color: var(--color-highlight);
    font-family: var(--font-serif);
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
    margin-inline-start: .25rem;
}

h4 {
    font-size: var(--size-h4);
    margin-inline-start: .375rem;
}

h5 {
    font-size: var(--size-h5);
    margin-inline-start: .5rem;
}

h6 {
    font-size: var(--size-h6);
    margin-inline-start: .75rem;
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: opacity var(--transition-link);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 0.6;
        }
    }
}

h1#title {
    text-align: center;
    margin: 2rem auto;
    width: max-content;
    max-width: 100%;
    text-wrap: balance;
    overflow-wrap: anywhere;
    padding: 0rem .5rem;
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}



button {
    display: block;
    margin: .5rem auto;
    background: transparent;
    color: var(--purple2);
    border: solid 1px var(--purple2);
    font-size: 1rem;
    border-radius: 5px;
    padding: .1rem .5rem;
    background-clip: padding-box;
    transition: color 80ms ease-in-out, background-color 80ms ease-in-out;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--purple2);
            color: var(--white1);
        }
    
        &:active {
            opacity: 0.8;
        }
    }
}

ul, ol, dl {
    padding-inline-start: 1.2rem;
}

li {
    > * {
        margin: 0;
        padding: 0;
    }

    > p:not(:first-child) {
        margin: .3rem 0 1.75rem .8rem;
    }

    > ul, ol, dl {
        margin-block-end: .2rem;
    }
}

.b64 {
    margin: 2rem auto;
    width: 100%;
    max-width: 40rem;

    h3.b64-title {
        text-align: center;
    }

    div:has(> input.b64-input) {
        margin-block-end: 0;
    }

    input.b64-input, textarea.b64-result {
        border: solid 1px var(--color-border-1);
        border-radius: 5px;
        padding-inline: .25rem;
        width: 100%;
    }

    label.b64-result-label {
        display: block;
    }
    
    textarea.b64-result {
        resize: none;
        height: 8rem;
    }
}

.txt-centre {
    text-align: center;
}



.d-block {
    display: block;
}

#page-top-button {
    position: fixed;
    margin: 0;
    right: 25px;
    bottom: 25px;
    transition: opacity var(--transition-btn-visibility);
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    button {
        display: block;
        text-align: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 12px;
        transition: background-color var(--transition-btn-hover), color var(--transition-btn-hover);

        #page-top-arrow {
            margin: 0;
            padding: 8px;
            border-top: solid 2px var(--color-arrow);
            border-right: solid 2px var(--color-arrow);
            transform: translateY(4px) rotate(-45deg);
            transition: border-color var(--transition-btn-hover);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--color-arrow);
                color: var(--color-bg);

                #page-top-arrow {
                    border-color: var(--color-bg);
                }
            }
        }
    }
}

