@charset "utf-8";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+TC:wght@200..900&family=Zen+Antique&display=swap');

/* Import my font-faces */
@import url('/stylesheet/myStyle-font-face.css');

@layer reset;

:where(*, ::before, ::after) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    border: none;
    overflow-wrap: anywhere;
}

:root {
    scroll-behavior: smooth;
    --white-1: #f8f9fa;
    --white-trl-1: #f8f9fa7e;
    --white-trl-2: #ffffff6b;
    --white-trl-3: #f8f9fa21;
    --white-trl-4: #f8f9fa9c;
    --purple-1: #12061b;
    --purple-trl-1: #12061b30;
    --black-trl-1: #00000041;
    --black-1: #000;
    --blue-1: #20e5ff;
    --blue-2: #6193ff;
    --blue-3: #0026ff;

    --color-background: var(--purple-1);
    --color-container: var(--purple-1);
    --color-content: var(--white-1);
    --color-border-title: var(--white-trl-1);
    --color-link: var(--blue-1);
    --color-container-border: var(--white-trl-3);
    --color-button-background: var(--white-1);
    --color-button-text: var(--purple-1);
    --gradient-button: linear-gradient(to bottom, transparent, var(--purple-trl-1));
    --gradient-header: linear-gradient(to bottom, #9000ff3f, transparent);
    --shadow-button: inset 0 0 3px var(--black-1);
    --color-background: var(--purple-1);
    --transition-button: opacity 90ms ease-in-out;
    --transition-link: opacity 60ms ease-in-out;
    --font-sans: 'InterVar', 'Arial', 'Helvetica Neue', 'Noto Sans Georgian', 'Noto Naskh Arabic', 'Nirmala UI', 'Noto Sans JP', 'Noto Sans TC', 'Source Han Sans', 'Noto Sans CJK JP', 'Yu Gothic UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Segoe UI', 'Segoe UI Historic', sans-serif;
    --font-serif: 'CharisSIL', 'Times New Roman', 'Noto Naskh Arabic', 'Nirmala UI', 'Noto Serif JP', 'Noto Serif TC', 'Source Han Serif', 'Noto Serif CJK JP', 'Yu Mincho', 'Hiragino Serif', 'Hiragino Mincho ProN', 'Segoe UI', 'Segoe UI Historic', serif;
    --font-title: 'CharisSIL', 'Times New Roman', 'Zen Antique', 'Noto Serif JP', 'Source Han Serif', 'Noto Serif CJK JP', 'Yu Mincho', 'Hiragino Serif', 'Hiragino Mincho ProN', 'Segoe UI', 'Segoe UI Historic', serif;
    
    --gutter-container: .75rem;

    --size-h1: calc(1.575rem + 1.1vw);
    --size-h2: calc(1.325rem + .5vw);
    --size-h3: calc(1.3rem + .2vw);
    --size-h4: 1.25rem;
    --size-h5: 1.125rem;
    --size-h6: 1rem;
}

/* reset */

body {
    background: var(--color-background);
    font-family: var(--font-sans);
    color: var(--color-content);
    font-optical-sizing: auto;

    :where(:not(pre, code)) {
        font-family: inherit;
    }
}

:where(:not(pre)) code, pre:has(:where(code)) {
    background-color: #cccccc;
    color: black;
    padding-inline: .2rem;
    border-radius: 3px;
}

pre, code {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 500;
    margin-block-end: .75rem;
}

p, ul, ol, dl, pre, blockquote, div {
    margin-block-end: 1rem;
}

ul, ol {
    padding-inline-start: 1rem;
}

ul {
    list-style-type: "\25b8  ";
    
    &.u-unstyled {
        padding-inline-start: 0;
        list-style: none;
    }
}

:where(li) {
    > p, ul, ol, dl, pre, blockquote, div {
        margin: 0;
    }

    > p:where(:not(:first-child)) {
        margin-inline-start: .5rem;
    }

    > p:where(:last-child:not(:first-child)) {
        margin-block-end: .375rem;
    }

    > ul, ol, dl {
        margin-block-end: .2rem;
    }
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}

h6 {
    font-size: var(--size-h6);
}

#root-container {
    width: 100%;
    margin: 0 auto;
    display: flow-root;
    min-height: 100vh;
    padding-inline: var(--gutter-container);
    border-inline: solid 1px var(--color-container-border);

    @media (min-width: 1140px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

header {
    margin: 0 calc(-1 * var(--gutter-container));
    display: flow-root;
}

button {
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 8px;
    transition: var(--transition-button);
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    background-image: var(--gradient-button);
    box-shadow: var(--shadow-button);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: .6;
        }
    }
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: var(--transition-link);

    &.ext-link::after {
        content: url('/assets/svg/box-arrow-up-right-1.svg');
        display: inline-block;
        width: .8rem;
        height: auto;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: .6;
        }
    }
}

/* utility */

.u-ms-1 {
    margin-inline-start: .125rem;
}
.u-ms-2 {
    margin-inline-start: calc(.125rem * 2);
}
.u-ms-3 {
    margin-inline-start: calc(.125rem * 3);
}
.u-ms-4 {
    margin-inline-start: calc(.125rem * 4);
}
.u-ms-5 {
    margin-inline-start: calc(.125rem * 5);
}
.u-ms-6 {
    margin-inline-start: calc(.125rem * 6);
}
.u-ms-7 {
    margin-inline-start: calc(.125rem * 7);
}
.u-ms-8 {
    margin-inline-start: calc(.125rem * 8);
}

.u-me-1 {
    margin-inline-end: .125rem;
}
.u-me-2 {
    margin-inline-end: calc(.125rem * 2);
}
.u-me-3 {
    margin-inline-end: calc(.125rem * 3);
}
.u-me-4 {
    margin-inline-end: calc(.125rem * 4);
}
.u-me-5 {
    margin-inline-end: calc(.125rem * 5);
}
.u-me-6 {
    margin-inline-end: calc(.125rem * 6);
}
.u-me-7 {
    margin-inline-end: calc(.125rem * 7);
}
.u-me-8 {
    margin-inline-end: calc(.125rem * 8);
}

.u-mt-1 {
    margin-block-start: .125rem;
}
.u-mt-2 {
    margin-block-start: calc(.125rem * 2);
}
.u-mt-3 {
    margin-block-start: calc(.125rem * 3);
}
.u-mt-4 {
    margin-block-start: calc(.125rem * 4);
}
.u-mt-5 {
    margin-block-start: calc(.125rem * 5);
}
.u-mt-6 {
    margin-block-start: calc(.125rem * 6);
}
.u-mt-7 {
    margin-block-start: calc(.125rem * 7);
}
.u-mt-8 {
    margin-block-start: calc(.125rem * 8);
}

.u-mb-1 {
    margin-block-end: .125rem;
}
.u-mb-2 {
    margin-block-end: calc(.125rem * 2);
}
.u-mb-3 {
    margin-block-end: calc(.125rem * 3);
}
.u-mb-4 {
    margin-block-end: calc(.125rem * 4);
}
.u-mb-5 {
    margin-block-end: calc(.125rem * 5);
}
.u-mb-6 {
    margin-block-end: calc(.125rem * 6);
}
.u-mb-7 {
    margin-block-end: calc(.125rem * 7);
}
.u-mb-8 {
    margin-block-end: calc(.125rem * 8);
}

.u-centralise {
    margin-inline: auto;
    width: max-content;
    max-width: 100%;
}

.u-text-start {
    text-align: start;
}
.u-text-centre {
    text-align: center;
}
.u-text-end {
    text-align: end;
}

/* specific */

.header {

    background-image: var(--gradient-header);
    .header__title {
        text-align: center;
        margin: 3rem auto;
        width: max-content;
        max-width: 100%;
        text-wrap: balance;
        font-family: var(--font-title);
        font-weight: 400;
    }
}



.desc {
    .desc__title {
        text-align: center;
        margin-inline: auto;
        width: max-content;
        max-width: 100%;
        padding-inline: .2rem;
    }
}

.gacha {
    margin-block-end: 1rem;
    margin-inline: auto;
    max-width: 100%;
}

.gacha-button {
    .gacha-button__body {
        font-family: 'Zen Antique', serif;
        font-size: 1.3rem;
    }
}

@keyframes slidein {
    from {
        top: 40px;
    }
    to {
        top: 0px;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gacha-result {
    visibility: hidden;
    display: flow-root;
    opacity: 0;
    position: relative;
    width: max-content;
    max-width: 100%;
    margin-inline: auto;
    border-radius: 8px;

    .gacha-result__title {
        text-align: center;
    }

    &[data-visible=true] {
        visibility: visible;
        opacity: 1;
        animation: .4s cubic-bezier(0.0, 0.7, 0.3, 1.0) slidein, .25s ease-out fadein;
    }
    
    &.--mylang {
        box-shadow: 0 0 12px 0 #7700ff;
        padding: .4rem .6rem 0 0;
    }
}

#license {
    text-align: end;
}

#totalnum {
    text-align: center;
    margin-inline: auto;
    width: max-content;
    max-width: 100%;
    padding: .2rem .5rem;
}

