/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Zen+Antique&display=swap');

:root
{
    --my-heading-color-rgb: 26, 54, 88;
    --my-link-color-rgb: 0, 71, 179;
    
}

/* linear-gradient(to bottom right,black 47%, #380066 50%, black 53%) */

body
{
    color: black;
    background: #f8f9fa;
    font-family: 'Arial', 'Helvetica Neue', 'Noto Sans JP', sans-serif;
    font-size: 0.9rem;
}


.title-h
{
    font-size: 3em;
    margin-top: 1.5rem;
}

a
{
    text-decoration: none;
    transition: color 60ms ease-in-out;
}

.section-title 
{
    font-family: 'Times New Roman', 'Zen Antique', serif;
    font-weight: 400;
}


.ipa 
{
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
}

table > thead > tr > th,
table > tbody > tr > th 
{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

table > tbody > tr > td 
{
    text-align: center;
    
}

table > tbody > tr > td.bikou 
{
    text-align: left;
}

table > caption 
{
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
}

body > .page-top-button 
{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.bg-deep-blue 
{
    background-color: rgb(var(--my-heading-color-rgb))!important;
}

.text-deep-blue,
.link-deep-blue
{
    color: rgb(var(--my-link-color-rgb))!important;
}

.link-deep-blue:hover
{
    color: rgb(var(--my-link-color-rgb), 0.7)!important;
}

.bi-chevron-up
{
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    height: 24px;
}

.bi-box-arrow-up-right
{
    display: inline-block;
    fill: currentColor;
    height: 14px;
}

.noto-sans-jp
{
    font-family: 'Noto Sans JP';
}