/* Import Google Fonts */
/* Noto Sans JP + SC, Noto Serif JP, Zen Antique */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Antique&display=swap');

:root
{
    --my-heading-color-rgb: 26, 54, 88;
    --my-link-color-rgb: 0, 71, 179;
}

html {
    font-size: 1.0em;
}

body
{
    background-color: var(--bs-light);
    font-family: 'Inter', 'Arial', 'Helvetica Neue', 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Times New Roman', 'Noto Serif JP', serif;
    color: rgba(var(--my-heading-color-rgb));
}

a
{
    text-decoration: none;
    transition: color 60ms ease-in-out;
}

.section-title {
    font-family: 'Zen Antique', serif;
    font-weight: 400;
}

.article-font, 
.article-font-jp {
    font-size: calc(1.7rem + 1.4vw);
}

.article-font {
    font-family: 'Times New Roman', serif;
}

.article-font-jp {
    font-family: 'Zen Antique', serif;
}

.ipa,
.l-serif
{
    font-family: 'Times New Roman', serif;
    font-size: 1.0em;
}

table > thead > tr > th,
table > tbody > tr > th 
{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

table > tbody > tr > td 
{
    text-align: center;
    
}

table > tbody > tr > td.bikou
{
    text-align: left;
}

body > .page-top-button 
{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.bg-deep-blue 
{
    background-color: rgb(var(--my-heading-color-rgb))!important;
}

.text-deep-blue,
.link-deep-blue
{
    color: rgb(var(--my-link-color-rgb))!important;
}

.link-deep-blue:hover
{
    color: rgb(var(--my-link-color-rgb), 0.7)!important;
}

.bi-chevron-up
{
    display: inline;
    fill: currentColor;
    vertical-align: text-bottom;
    height: 27px;
}

.bi-box-arrow-up-right
{
    display: inline-block;
    fill: currentColor;
    height: 14px;
}

.noto-sans-jp
{
    font-family: 'Noto Sans JP', sans-serif;
}

@media (min-width:768px) {
    .sidebar {
        overflow-y: auto;
        height: 90vh;
    }
}

.noto-sans-sc
{
    font-family: 'Noto Sans SC', sans-serif;
}

.l-sans {
    font-family: 'Inter', 'Arial', 'Helvetica Neue', sans-serif;
}




