
/* import Google Fonts */


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Playfair+Display&family=Zen+Antique&display=swap');



body {
    background-color: #eeeeee;
    font-family: 'Times New Roman', 'Noto Serif JP', sans-serif;
    font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-weight: 700;
    color: #0e1d61;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.85rem;
}

header > .container-fluid {
    background-image: url(./image/milky-way-g.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    padding: 8vh 0;

}

main > h1.section-title {
    font-family: 'Times New Roman', 'Zen Antique', serif;
    font-weight: 400;
    font-size: calc(1.5rem + 1.2vw);
}
header > .container-fluid > h1.titlee {
    font-family: 'Times New Roman', 'Zen Antique', serif;
    font-weight: 400;
    color: #ffffff!important;
    font-size: calc(2rem + 2vw);
}

/*
main > h1.section-title-latin {
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 2.2rem;
}

header > .container-fluid > h1.titlee-latin {
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    color: #ffffff!important;
    font-size: 3.2rem;
}
*/

.ipa {
	font-family: 'Times New Roman', serif;
    font-size: 0.8rem;
}

table > thead > tr > th,
table > tbody > tr > th {
    font-size: 0.6rem;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

table > tbody > tr > td {
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 0.7rem;
}

nav > a.nav-link,
nav > a.nav-link:visited {
    color: #ffffff!important;
}

nav > a.langname {
    font-size: 1rem;
}
nav > a.hometitle {
    font-size: 1rem;
}
nav > a.nav-link:hover {
    color: #cccccc!important;
}

body > .page-top-button {
    position: fixed;
    right: 1.2vw;
    bottom: 2vh;
}