
/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&family=Zen+Antique&display=swap');


body {
    background-color: #e9e9e9;
    font-family: 'Times New Roman', 'Noto Serif JP', sans-serif;
    font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

header > .container-fluid {
    background-image: url(./image/milky-way-g.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: 0% 50%;

}

header > .container-fluid > h1.titlee {
    font-family: 'Zen Antique', serif;
    font-weight: 400;
    color: #ffffff!important;
    font-size: 3rem;
}
.ipa {
	font-family: 'Arial', sans-serif;
    font-size: 0.8rem;
}

table > thead > tr > th,
table > tbody > tr > th {
    font-size: 15px;
    text-align: center;
}

table > tbody > tr > td {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

nav > a.nav-link,
nav > a.nav-link:visited {
    color: #ffffff!important;
}

nav > a.langname {
    font-size: 1rem;
}
nav > a.hometitle {
    font-size: 1.3rem;
}
nav > a.nav-link:hover {
    color: #cccccc!important;
}